<ngx-alerts></ngx-alerts>
<nav class="navbar navbar-default">
  <div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#news">Customers</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="#logout" class="logout_button">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</nav>
<!--Customer side menu-->
<div class="col-md-10">
  <div class="row">
    <div class="col-md-3 customer_menu" >
      <div class="row events_list">
          <a class="col-md-2.5 btn btn-info" href="#add_new_customer">Add</a>
          <!--<a class="col-md-3" href="#search">Search</a>-->
        <input class="col-md-7 search_input" type="text" placeholder="search by name" [formControl]="queryField">
      </div>
      <ul class="col-md-12 list">
        <cdk-virtual-scroll-viewport  style="height: 500px" itemSize="90" >
          <ng-container *cdkVirtualFor="let customer of customersList">
            <li (click)="this.selectCustomer(customer)">
              {{customer['name']}} <br>
              {{customer['email']}}
              <hr>
            </li>
          </ng-container>
        </cdk-virtual-scroll-viewport>
      </ul>
    </div>
  </div>

  <div class="row" *ngIf="selectedCustomer">
    <div class="col-md-6 customer_main_data_table">
      <div class="customer_picture">
        <img src="http://www.snippetdeveloper.com/img/users/default.png" alt="picture">
      </div>
      <br>
      <div>
        <h1>{{this.selectedCustomer['name']}}</h1>
      </div>
      <ul style="list-style-type: square;">
        <li>
          <h4>Email :</h4>    {{this.selectedCustomer['email']}}
        </li>
        <li>
          <h4>Address :</h4>    {{this.selectedCustomer['address']}}
        </li>
        <li>
          <h4>Telephone :</h4>    {{this.selectedCustomer['telephone']}}
        </li>
      </ul>
      <div class="data_handler_button">
        <a href="#delete_customer" id="delete_button" class="btn btn-danger">Delete</a>
        <a href="#edit_customer" id="edit_button" class="btn btn-info">Edit</a>
      </div>
    </div>
  </div>
  <div class="spinner_row row">
    <div class="spinner col-md-6 customer_main_data_table " *ngIf="!selectedCustomer"></div>
  </div>
</div>

<!--Search popup-->
<div id="search" class="overlay">
  <div class="popup">
    <h2>Search Customer</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
      <br>
      <form #searchCustomer = "ngForm" (submit)="search_customer(searchCustomer.value)">
        <input class="text-input-dialog" type="text" name="email" placeholder="email" ngModel >
        <hr>
        <button class="btn btn-danger submit" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<!--Add new Customer popup-->
<div id="add_new_customer" class="overlay">
  <div class="popup">
    <h2>Add new Customer</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
      <br>
      <form #addCustomer = "ngForm" (submit)="addNewCustomer(addCustomer.value)">
        <input class="text-input-dialog" type="text" name="name" placeholder="Name" ngModel > <br>
        <input class="text-input-dialog" type="text" name="email" placeholder="Email" ngModel > <br>
        <input class="text-input-dialog" type="text" name="address" placeholder="Address" ngModel > <br>
        <input class="text-input-dialog" type="text" name="telephone" placeholder="Telephone number" ngModel >
        <hr>
        <button class="btn btn-danger submit" type="submit">Add</button>
      </form>
    </div>
  </div>
</div>

<!--Delete Customer-->
<div id="delete_customer" class="overlay">
  <div class="popup">
    <h3>Do you really want to delete this customer?</h3>
    <a class="close" href="#">&times;</a>
    <div class="content">
        <button routerLink="#" class="btn btn-danger submit" type="submit" (click)="this.delete_customer()">Delete</button>
    </div>
  </div>
</div>

<!--Edit window-->
<div id="edit_customer" class="overlay">
  <div class="popup">
    <h4>Edit page</h4>
    <a class="close" href="#">&times;</a>
    <div class="content">
      <form #edit_customer_form (submit)="edit_customer_data(edit_customer_form.value)">
        <input class="text-input-dialog" type="text" name="name" value="{{this.selectedCustomer['name']}}" ngModel > <br>
        <input class="text-input-dialog" type="text" name="email" value="{{this.selectedCustomer['email']}}" ngModel > <br>
        <input class="text-input-dialog" type="text" name="address" value="{{this.selectedCustomer['address']}}" ngModel > <br>
        <input class="text-input-dialog" type="text" name="telephone" value="{{this.selectedCustomer['telephone']}}" ngModel > <br>
        <a href="#" class="btn btn-danger" type="submit" >Save changes</a>
        <button href="#" class="btn btn-danger" type="submit" onclick="location.href='http://google.com';">Save changes button</button>
      </form>
    </div>
  </div>
</div>
