<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">Customers</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="#logout" class="logout_button">Logout</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<!--Customer side menu-->
<div class="customer_menu">
  <div class="events_list">
    <button class="btn btn-info">Search</button>
    <button class="btn btn-info">Add</button>
  </div>
  <!--<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">-->
    <!--<div *ngFor="let item of items" class="example-item">{{item}}</div>-->
  <!--</cdk-virtual-scroll-viewport>-->

</div>
